body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-family: "Consolas";
    color: rgba(255, 255, 255, .5);
    background-color: rgba(39, 39, 39, 1.0);
    overflow-y: hidden;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 5rem; */
    padding: .5rem 1.5rem;
    border-radius: 5rem;
    /* background-color: rgba(39, 39, 39, 1.0); */
    background: linear-gradient(145deg, #232323, #2a2a2a);
    cursor: pointer;
    box-shadow: 4px 4px 6px #141414,
        -4px -4px 6px #3b3b3b;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.hover-button {
    transition: background-color .1s, color .1s, box-shadow .1s;
}

.hover-button:hover {
    color: rgba(39, 39, 39, 1.0);
    background: rgba(59, 196, 88, 1.0);
    /* box-shadow: 4px 4px 6px #1e622c,
    -4px -4px 6px #59ff84; */
}

.hover-button:active {
    color: rgba(39, 39, 39, 1.0);
    background: rgba(45, 146, 67, 1.0);
}

#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-col {
    padding: 15px 15px;
}

/* #show-ru-keyboard-button {} */

#ru-keyboard-modal {
    z-index: 500;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
}

#ru-keyboard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;

}

#ru-keyboard-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
}

#close-ru-keyboard-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-bottom: 2.5rem;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, .5);
    cursor: pointer;
    transition: background-color .1s;
}

#close-ru-keyboard-button>div {
    position: absolute;
    height: 24px;
    width: 4px;
    border-radius: 5rem;
    background-color: rgb(137, 137, 137);
}

#close-ru-keyboard-button>div:nth-child(1) {
    transform: rotate(45deg);
}

#close-ru-keyboard-button>div:nth-child(2) {
    transform: rotate(-45deg);
}

#close-ru-keyboard-button:hover {
    background-color: rgba(255, 255, 255, .1);
}

#close-ru-keyboard-button:active {
    background-color: rgba(255, 255, 255, .15);
}

#ru-keyboard-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow-x: scroll;
    width: fit-content;
    max-width: 90%;
    padding: 0 0 2rem 0;
}

#ru-keyboard-main::-webkit-scrollbar {
    height: 14px;
    border-radius: 5rem;
    box-shadow: 4px 4px 6px #141414,
        -4px -4px 6px #3b3b3b;
}

#ru-keyboard-main::-webkit-scrollbar-thumb {
    background-color: rgba(59, 196, 88, 1.0);
    border-radius: 5rem;
    transition: background-color .1s;
}

#ru-keyboard-main::-webkit-scrollbar-thumb:hover {
    background-color: rgb(48, 161, 72);

}

#ru-keyboard-main::-webkit-scrollbar-thumb:active {
    background-color: rgb(39, 129, 58);
}

#ru-keyboard-main::-webkit-scrollbar-track {
    border-radius: 5rem;
    background-color: rgba(16, 16, 16, 1.0);
    box-shadow: inset 2px 2px 4px #141414,
        inset -2px -2px 4px #3b3b3b;
}

#ru-keyboard-main>.keyboard-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 782px;
}

.ru-key {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5rem;
    min-width: 2.5rem;
    margin: 3px;
    padding: .25rem;
    font-size: 1rem;
    border-radius: 5px;
    outline: 2px solid rgba(255, 255, 255, .5);
    background-color: rgba(19, 19, 19, 1.0);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.ru-key-l,
.ru-key-r {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ru-key-r {
    color: rgba(239, 65, 102, .75);
}

.ru-key-tab {
    width: calc(2.5rem * 1.5 + 3px * 2);
}

.ru-key-capslock {
    width: calc(2.5rem * 1.75 + 3px * 4);
}

.ru-key-shift {
    width: calc(2.5rem * 2.25 + 3px * 4);
}

.ru-key-shift-r {
    flex-grow: 1;
}

.ru-key-backspace {
    flex-grow: 1;
}

.ru-key-enter {
    flex-grow: 1;
}

#main {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.page {
    width: 100%;
    height: 100%;
}

#start-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#start-page-title {
    margin: 20vh 0 4rem;
    color: rgba(59, 196, 88, 1.0);
    font-size: 2.5rem;
    text-decoration: underline;
}

#start-button {
    width: 25rem;
    height: 2rem;
}

#practice-page {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#score-panel {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    left: calc((50% - 12rem - 8rem) / 2);
    width: 12rem;
    max-height: calc(2.5rem + 6.5rem + 4rem);
    padding: 1rem 0;
    /* margin-top: calc(5.05rem + 5px); */
    margin-top: 2rem;
    border-radius: 1rem;
    /* outline: 1px solid white; */
    /* background-color: rgba(39, 39, 39, 1.0); */
    overflow-y: visible;

}

.score-dot {
    height: 8px;
    width: 8px;
    margin: 10px 6px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .25);
    /* box-shadow: 2px 2px 3px #141414,
        -2px -2px 3px #3b3b3b; */
}

.score-dot.score-dot-right {
    background-color: rgba(59, 196, 88, .75);
}

.score-dot.score-dot-wrong {
    background-color: rgba(239, 65, 102, .75);

}

#practice-page-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

#ru-letter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 16rem;
    /* max-width: 20rem; */
    margin: 2rem 0;
    border-radius: 1rem;
    background: linear-gradient(145deg, #2a2a2a, #232323);
    box-shadow: 5px 5px 11px #141414,
        -5px -5px 11px #3b3b3b;
}

#practice-progress {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: .4rem 0rem; */
    margin: 1.5rem 0 0 0;
    width: 45%;
    border-radius: 5rem;
    /* color: rgba(39, 39, 39, 1.0); */
    /* background-color: rgba(255, 255, 255, .25); */
    /* box-shadow: inset 4px 4px 6px #141414,
    inset -4px -4px 6px #3b3b3b; */
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* outline: 1px solid rgba(255, 255, 255, .5); */
}

.ru-letter-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* font-weight: bold; */
    /* outline: 2px solid white; */
}

#ru-letter-card>.ru-letter-display {
    /* height: 10rem; */
    margin: 1.5rem 0;
    color: rgba(59, 196, 88, 1.0);
    font-size: 4rem;
    line-height: 4rem;
}

#current-key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.ascii-key {
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 2.8rem;
    width: 2.8rem;
    margin: 4px;
    font-size: 1rem;
    border-radius: 3px;
    background-color: rgba(39, 39, 39, 1.0);
    box-shadow: 1px 1px 3px #141414,
        -1px -1px 3px #3b3b3b;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* outline: 1px solid rgba(255, 255, 255, .5); */
}

.ascii-key.ascii-key-active {
    color: rgba(39, 39, 39, 1.0);
    /* background-color: rgba(250, 175, 103, 1.0) !important; */
    background-color: rgba(59, 196, 88, 1.0) !important;
    box-shadow: inset 1px 1px 3px #1e622c,
        inset -1px -1px 3px #59ff84;
}

#ascii-keyboard {
    position: relative;
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
}

#ascii-keyboard .ascii-key {
    cursor: pointer;
    transform: background-color .1s, color .1s;
}

#ascii-keyboard .ascii-key:hover {
    background-color: rgba(255, 255, 255, .02);
}

#ascii-keyboard-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.keyboard-line {
    display: flex;
    flex-direction: row;
}

#ascii-keyboard-enter {
    z-index: 0;
    position: absolute;
    right: 4px;
    bottom: 4px;
}

#ascii-keyboard-enter>div {
    position: relative;
    height: calc(2.8rem * 2 + 4px * 2);
    width: calc(2.8rem * 2 + 4px * 2);
}

#ascii-keyboard-enter>div>div {
    position: absolute;
    cursor: pointer;
    transform: background-color .1s, color .1s;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#ascii-keyboard-enter>div:hover>div {
    background-color: rgba(43, 43, 43, 1.0) !important;
}

#ascii-keyboard-enter>div:active>div {
    color: rgba(39, 39, 39, 1.0);
    background-color: rgba(59, 196, 88, 1.0) !important;
}

#ascii-keyboard-enter>div>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    bottom: 0;
    height: 2.8rem;
    width: calc(2.8rem * 2 + 4px * 2);
    border-radius: 3px;
    background-color: rgba(39, 39, 39, 1.0);
    box-shadow: 1px 1px 3px #141414,
        -1px -1px 3px #3b3b3b;
    /* outline: 1px solid white; */
}

#ascii-keyboard-enter>div>div:nth-child(2) {
    right: 0;
    width: 2.8rem;
    height: calc(2.8rem * 2 + 4px * 2);
    border-radius: 3px;
    background-color: rgba(39, 39, 39, 1.0);
    box-shadow: 1px 1px 3px #141414,
        -1px -1px 3px #3b3b3b;
    /* outline: 1px solid white; */

}

#ascii-keyboard-enter>div>div:nth-child(3) {
    z-index: 20;
    right: 0;
    top: 1.4rem;
    height: 2.8rem;
    width: 2.8rem;
    background-color: rgba(39, 39, 39, 1.0);
    /* outline: 1px solid white; */
}

#finish-button {
    margin-top: 4rem;
}

#summary-page {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    overflow-y: hidden;
}

#score-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    /* -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; */
}

#score-display>div {
    display: flex;
    flex-direction: row;
}

#right-rate {
    color: rgba(59, 196, 88, 1.0);
    font-size: 4rem;
}

#time-cost {
    /* padding: .25rem 1.5rem; */
    /* color: rgba(250, 175, 103, .5); */
    border-radius: 5rem;
    /* outline: 2px solid rgba(255, 255, 255, .5); */
}

#time-cost>div {
    margin: 0 .25rem;
}

#summary-page-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

#summary-page-buttons>.button {
    width: 15rem;
    margin-bottom: 1.5rem;
}

#review {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    /* margin: .5rem 0 0 0; */
    /* height: 100px; */
    overflow-y: hidden;
}

#review-title {
    width: calc(95% - 24px);
    /* width: 100%; */
    margin: 0 0 .25rem 0;
    text-decoration: underline;
    /* text-align: center; */
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#review-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    /* flex-grow: 1; */
    height: 80%;
    width: 95%;
    overflow-y: scroll;
}

#review-list::-webkit-scrollbar {
    width: 14px;
    border-radius: 5rem;
    box-shadow: 4px 4px 6px #141414,
        -4px -4px 6px #3b3b3b;
}

#review-list::-webkit-scrollbar-thumb {
    background-color: rgba(59, 196, 88, 1.0);
    border-radius: 5rem;
    transition: background-color .1s;
}

#review-list::-webkit-scrollbar-thumb:hover {
    background-color: rgb(48, 161, 72);

}

#review-list::-webkit-scrollbar-thumb:active {
    background-color: rgb(39, 129, 58);
}

#review-list::-webkit-scrollbar-track {
    border-radius: 5rem;
    box-shadow: inset 2px 2px 4px #141414,
        inset -2px -2px 4px #3b3b3b;
}

.review-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    border-radius: 5px;
    background: linear-gradient(145deg, #2a2a2a, #232323);
    box-shadow: 4px 4px 8px #141414,
        -4px -4px 8px #3b3b3b;
}

.review-item>.ru-letter-display {
    padding-top: 1.5rem;
    font-size: 2rem;
}

.review-keys {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: .25rem;
}

.review-keys>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.key-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: .25rem;
    text-align: center;
    font-size: 14px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* .key-title::before {
    display: block;
    content: "";
    height: 6px;
    width: 6px;
    margin-right: 5px;
    border-radius: 50%;
}

.your-key>.key-title::before {
    background-color: rgba(239, 65, 102, .75);
}

.right-key>.key-title::before {
    background-color: rgba(59, 196, 88, .75);
} */

.footer {
    width: 100%;
    height: 2rem;
}
